{% extends "template_bootstrap/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Sign In" %}{% endblock %}


{% block main %}

    <div id="main">
        <section class="about-section" style="margin-top:80px; height:500px;">
            <h1>{% trans "Password Reset done" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}


            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
            <p>You should be receiving it shortly.</p>
        </section>
    </div>


{% endblock %}

