{% extends "core/base.html" %}
{% load static %}

{% block title %}Área de membros{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-sl-12">
        <h1>Seja bem vindo a aula: "{{class.description}}"</h1>
    </div>

    {% if class.amazon %}
        <video width="400" controls id="class-video" class="col-xs-12 col-md-8">
            <source src="/home/xtreme/Aula_3_Workflow_b_sico_.webm"
        type="video/webm">
        </video>
    {% else %}
        <div class="col-xs-12 col-md-8">
            {{class.link|safe}}
        </div>
    {% endif %}


    <div class="col-xs-12 col-md-4">
        <span class="label label-default">Descrição da aula</span><br>
        <p>{{class.full_description}}</p>

        <span class="label label-default">Módulo</span>
        <p>{{class.module}}</p>

        <span class="label label-default">Voltar para a lista de aulas</span><br><br>
        <a href="{% url 'url_core_modules' class.module.id %}"><img src="{% static 'img/return.png' %}" alt="Voltar"></a><br>

        <span class="label label-default">Ir para o fórum desta aula</span><br><br>
        <a href="{{class.forum_link}}" target="_blank"><img src="{% static 'img/forum.png' %}" alt="Voltar"></a><br>

        {% if class.code_link %}
            <span class="label label-default">Código da aula</span><br><br>
            <a href="{{class.code_link}}" target="_blank"><img src="{% static 'img/github.png' %}" alt="Voltar"></a>
        {% else %}
            <p>Esta aula não possui código fonte</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
      $(document).ready(function(){
        $('#class-video').bind('contextmenu',function() { return false; });
      });
    </script>
{% endblock %}