{% extends "core/base.html" %}
{% load static %}
{% block title %}Lista de módulos{% endblock %}

{% block main %}
<div class="row">

        <h1 align="center">Seja bem vindo ao curso "{{course}}"</h1>
        <p>{{course.full_description}}</p>

        <h2 align="center">Abaixo a lista de módulos deste curso</h2>
</div>

        {% for enr in modules_enrolled %}
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Status:
                    <span class="label label-default">
                        {% if enr.status %}
                           Liberado
                        {% else %}
                           {{enr.date_release}}
                        {% endif %}
                    </span>
                </h3>
                <a href="{% if enr.status %}{% url 'url_core_modules' enr.module.id %}{% endif %}">
                    <img src="{{enr.module.image}}" alt="{{enr.module.description}}" width="100px" height="100px">
                </a><br>
                <span class="label label-default">Sua pontuação neste módulo</span><br>
                <b>{{enr.final_score}}</b>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span class="label label-default">Descrição do módulo</span><br><br>
                    <p style="text-align:justify">{{course.full_description}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <span class="label label-default">Slide do módulo</span><br><br>
                    {% if enr.module.slide %}
                        <a href="/media/{{enr.module.slide}}" target="_blank">
                            <img src="{% static 'img/google-slides.png' %}" alt="Slide do módulo">
                        </a>
                    {% else %}
                        <p>Este módulo não possui slides</p>
                    {% endif %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <span class="label label-default">Exercícios do módulo</span><br><br>
                    {% if enr.module.exercise %}
                        <a href="/media/{{enr.module.exercise}}" target="_blank">
                            <img src="{% static 'img/google-slides.png' %}" alt="Slide do módulo">
                        </a>
                    {% else %}
                        <p>Este módulo não possui exercícios</p>
                    {% endif %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="" class="btn btn-info">Enviar respotas</a>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
</div>

{% endblock %}