{% extends "template_bootstrap/base.html" %}
{% load static %}

{% block main %}
<section class="about-section" style="margin-top:90px;">
    <h1>Para se inscrever basta escolher a carreira que melhor se encaixa com você</h1>

</section>

<!-- Contact Section -->
<section class="intro-section">
    <div class="col-lg-12">
        <h2>Escolha a carreira que melhor se adapta ao seu estilo</h2>
        <h4>Não se preocupe, você tem até 30 dias para desistir e solicitar o seu dinheiro de volta caso
            você não goste do conteúdo do curso ou da didática do professor!
        </h4>
    </div>
    <div class="col-lg-4 contratar" id="contratar">
        <img src="{% static 'img/front.png' %}" alt="Carreira frontend" width="300em">
        <h4>Escolha a carreira completa de desenvolvedor frontend com os módulos abaixo e aprenda a criar sites
        incríveis e a colocá-los no ar!</h4>
        <ol>
            <li>Fundamentos da web</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Bootstrap 3</li>
            <li>Git</li>
            <li>Heroku</li>
        </ol>
        <h4>R$ 299,99 (R$ 30,00 de desconto para depósito em conta)</h4>
        <a href="{% url 'url_core_deposito_conta' %}" class="btn btn-info">Depósito em conta</a>
        <br>
        ou
        <br><!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="C96753D4AAAA6A099417CFB2CB3CE789" />
        <input type="hidden" name="iot" value="button" />
        <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </form>
        <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    </div>
    <div class="col-lg-4 contratar">
        <img src="{% static 'img/back.png' %}" alt="Carreira backend" width="300em">

        <h4>Escolha a carreira completa de desenvolvedor backend com os módulos abaixo e aprenda a criar softwares web
        de alta qualidade e a colocá-los no!</h4>
        <ol>
            <li>Fundamentos da web</li>
            <li>Git</li>
            <li>Python</li>
            <li>Lógica de programação</li>
            <li>Django</li>
            <li>MySQL</li>
            <li>Postgres</li>
            <li>Heroku</li>
        </ol>
        <h4>R$ 399,99 (R$ 40,00 de desconto para depósito em conta)</h4>
        <a href="{% url 'url_core_deposito_conta' %}" class="btn btn-info">Depósito em conta</a>
        <br>
        ou
        <br>
        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="9FFF03A6CFCF39F2241EBF8476BD1258" />
        <input type="hidden" name="iot" value="button" />
        <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </form>
        <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    </div>
    <div class="col-lg-4">
        <img src="{% static 'img/full.png' %}" alt="Programador frontend">
        <h4>Através desta opção você terá acesso TOTAL a todos os módulos do curso e com isso você iniciará uma
        incrível jornada para se tornar um desenvolvedor Full Stack</h4>
        <h4>R$ 599,99 (R$ 50,00 de desconto para depósito em conta)</h4>
        <a href="{% url 'url_core_deposito_conta' %}" class="btn btn-info">Depósito em conta</a>
        <br>
        ou
        <br>
        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="5F8742902F2FAA25546D9F94C290D219" />
        <input type="hidden" name="iot" value="button" />
        <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </form>
        <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    </div>
</section>




<footer>
    <br>
    <p align="center">Alguns direitos reservados</p>
    <p>E-mail para contato: contato@programefacil.com.br</p>
</footer>
{% endblock %}